@font-face{
    font-family: Nexa Script Light;
    src:url(../fonts/19442.ttf);
}
body{
    height: 100%;
    background-image: url(../flovers1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.perel{
    font-size: 25px; 
    font-style: italic;
    margin-top: 40;
    margin-left: 5%; 
}
h2{
    text-align: left;
}
li{
    margin-top: 10px;
    font-weight:bold;
}
a:link{
    color: black;
}
a:visited{
    color:black;
}
.d1{
    font-size: 25px; 
    font-style: italic;
    position: absolute;
    z-index: 10;
    font-weight:bold;
    top: 90%;
    right: 5%;
}
.d1 a{
    text-decoration: none;
}
::-webkit-scrollbar{
	width: 5px;
    padding-right: 3px;
}
::-webkit-scrollbar-track{
	border: 2px #694e03;
}
::-webkit-scrollbar-thumb{
	background: #694e03;
	border-radius: 100px;
}
.verh{
    margin: auto;
    background: rgba(238, 216, 191, 0.6); 
}
#div1{
    width: 800px;
    height: 600px;
    margin-top: 110px;
    padding-bottom: 0px;
    padding-top: 1px;
}
#table_1{
    font-size: 20px;
    margin-left: 30px;
}
.zag{
    text-align: center;
    font-size: 25px;
    font-family: Nexa Script Light;
}
.strilka{
    text-align: center;
    width: 80px;
}
.blocks{
    text-align: center;
}
input[type="text"]{
    background: rgba(238, 216, 191, 0.7); 
    border: none;
    height: 25px;
}
input[type="button"]{
    background: rgba(150, 131, 110, 0.7); 
    border: double 4px  rgb(70, 59, 48);
    height: 30px;
    font-size: 16px;
    font-family: Nexa Script Light;
}
#table_2{
    text-align: center;
    margin: auto;
}
.tasks{
    font-size: 25px;
    text-align: center;
    font-family: Nexa Script Light;
}
#div2{
    width: 800px;
    height: 96%;
    margin-top: 15px;
    overflow-x: auto;
}
.p1{
    height: 3px;
    width: 700px;
    background: rgba(139, 72, 51, 0.349);
    border: none;
    margin: auto;
}
#div3{
    width: 1200px;
    height: 93%;
    margin-top: 15px;
    padding-top: 25px;
}
#table_3{
    /* border: 1px solid black; */
    /* outline: 2px solid black; */
    padding: 3px;
    width: 95%;
    height: 95%;
    margin: auto;
}
#left_field{
    /* border-right: 1px solid black; */
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    height: 100%;
    /* background: rgba(136, 51, 51, 0.753); */
    background: none;
}
#right_field{
    width: 400px;
}
.blocks_3{
    width: 15%;
    height: 60px;
    background: rgba(218, 181, 140, 0.705);
    border: double 6.5px  rgb(82, 42, 3); 
    margin: auto;
    text-align: center;
    padding-top: 45px;
    font-family: Nexa Script Light;
    font-weight: bold;
    font-size: 18px;
}
#list_right{
    padding-top: 14px;
    list-style-type: none;
    width: 100%;
    height: 100%;
}
.elem_list_right{
    height: 9.5%;
    background-color: rgba(238, 216, 191, 0.7);
    width: 360px;
    margin-left: -28px;
    padding: 10px;
    padding-top: 55px;
    text-align: center;
    vertical-align: middle;
}
.vudil1{
    background: rgba(90, 56, 19, 0.287);
    border: 6px solid rgba(66, 27, 15, 0.828);
    outline: 8px double  rgba(66, 27, 15, 0.5);
    color: rgba(66, 27, 15);
    
    
}
#div4{
    width: 800px;
    height: 90%;
    margin: auto;
    margin-top: 21px;
    padding-top: 25px;
}
#main{
    font-size: 25px;
    text-align: center;
    font-family: Nexa Script Light;
}
.vudil_third{
    color: rgb(122, 52, 31);
}
.vudil_special{
    color: rgb(20, 95, 17);
}